body {
    height: 100rem;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+20,000000+62,111111+76,1c1c1c+91,2c2c2c+98,2b2b2b+100,131313+100 */
background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #4c4c4c 0%, #595959 12%, #666666 20%, #000000 62%, #111111 76%, #1c1c1c 91%, #2c2c2c 98%, #2b2b2b 100%, #131313 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #4c4c4c 0%,#595959 12%,#666666 20%,#000000 62%,#111111 76%,#1c1c1c 91%,#2c2c2c 98%,#2b2b2b 100%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #4c4c4c 0%,#595959 12%,#666666 20%,#000000 62%,#111111 76%,#1c1c1c 91%,#2c2c2c 98%,#2b2b2b 100%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.flex-container{
    display: flex;
}
.list{
    flex-basis: 90%;
}
.details{
    /* flex-basis: 5; */
    flex-basis: 10%;
}

.task-list-container{
    flex-grow: 5;
    color: white;
    border: 1px solid lightgrey;
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.details-container {
    display: flex;
    flex-direction: column;
}